
form{
    
    display: flex;
    flex-direction: row;
}
input{
    width: 19.64%;
    padding:10px;
    border: 1px solid black;
    background-color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size:20px;
}
.title, .amount, .totalSpent,.total{
    width:20%;
    padding: 10px;
    border:1px solid black;
    background-color: white ;
    
}
.new{
    display: flex;
    flex-direction: row;
    font-family: 'IBM Plex Mono', monospace;
    font-size:20px;


    
}

.butts{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.butts button, .add{
    background: transparent;
    border:none;
}
.add{
    margin-left: 15px;
}
.butts .check{
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
    color:black;
    font-weight: 900;
    margin-left: 15px;
}

.check:hover{
    background-color: black;
    color:white;
}

.check{
box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.459);
}

.add:hover,
.deleteOne:hover{
    color:white;
}

.butts button{
    margin-right: 5px;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}


#budget{
    
    width:90%;
    margin:auto;
    margin-left: 112px;
}

h1{
    margin-bottom: 5%;;
    text-align: center;
font-family: 'Press Start 2P', cursive;
color: #FFFFFF;
font-size:40px;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

body{
    padding:3%;
    background-color: #364700;
background-image: url("https://www.transparenttextures.com/patterns/old-wall.png");

}

